*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    display: flex;
    overflow: none;
    justify-content: se;
    align-items: center;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
    background-color: hsl(215, 88%, 10%);
    color: white;
    overflow: none;
}

nav {
        display: flex;
        justify-content: space-between;
        justify-self: center;
        overflow: none;
        position: relative;
        width: 100%;
        height: 100%;
        padding-top: 5%;
        padding-bottom: 5%;
        background: hsl(216, 70%, 16%);
}

header {
    /* margin-bottom: 5%; */
    position:fixed;
    top: 0;
    width: 100%;
    margin: 0;
}


div>hr {
        background-color: white;
        width: 90%;
        padding: 1%;
}

.menubar {
    width: 2rem;
    height: 1.5rem;
    color: white;
    display: none;
    padding: 5%;
}

.icon{
    border: none;
    text-decoration: none;
    margin-left: 1%;
    background-color: hsl(216, 50%, 16%);
    color: white;
}


main {
        display: flex;
        flex-direction: column;
        max-width:90%;
        justify-self:center;
        align-items: center;
        margin-top:20%;
        margin-bottom: 5%;
        font-size: 1rem;
}

a {
    padding: 5%;
    margin:0%;
    text-decoration: none;
    font-size: 1rem;
    opacity: 50%;
    color: white;
}

a:hover {
    opacity: 100%;
}

section {
    background-color: hsl(216, 50%, 16%);
    margin-top: 0%;
    margin-bottom:5% ;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgb(90, 90, 90);
}
p{
    margin-top: 1%;
    margin-bottom: 1%;
}

.form_section {
    display: flex;
    justify-self: center;

}

.right_half {
    display:flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    align-self: center;
}

article {
    padding: 1%;
    margin: 1%;
}

 h1{
            margin-bottom: 5%;
            font-family: Arial, Helvetica, sans-serif;
            float: left;
}
h2 {
    margin-bottom: 2%;
}

img {
    width: 90%;
    border-radius:  15px;
}




input , textarea{
    max-width: 90%;
    columns: 5;
    border: 1px solid white;
    background: none;
    color:white;
    margin-top: 10%;
    margin-bottom: 10%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}


label{
        font-weight: 500;
        margin-top:5% ;

}

.suggestions {
    height: 5rem;
    margin-top: 1%;
    margin-bottom: 1%;

}

.submit{
    display: flex;
    width: fit-content;
    justify-content: center;
    background: none;
    margin-top: 5%;
    padding: 5%;
    border: 1px solid white;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    font-weight: 700;
}

.submit:hover {
    background-color: white;
    color: hsl(216, 50%, 16%);
}
form {
    margin-top: 5% ;
}


@media (max-width: 600px) {
    body {
        font-size: 1rem;
        width: 100%;
    }


    h1 {
        font-size: 2rem;
    }

    .menubar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menubar:hover + .mobile_menu{
        display:flex;
        flex-direction: column;



 }


.mobile_menu{
    display: none;
    border: 1px solid black;
    border-radius: 2px;
}


main {
    width: 100%;
}
    section {
        width: 90%;
        margin-top: 5%;
        margin-bottom: 5%;
        padding: 5%;
        display: flex;
        flex-direction: column;
    }
    article {
        margin-top: 5%;
        margin-top: 5%;
    }

    .left_half {
        display: none;
    }

    .first_last{
        display: flex;
justify-content: space-between;
    }

    input {
        border-radius: 0.2rem;
        height: 2rem;
        width: 100%;
    }


textarea {
    border-radius: 0.2rem;
}
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: center;
    }

    nav>button {
        font-size: 1rem;
    }

}


@media (min-width: 601px)
{
    html {
        font-size: 150%;
    }
    main{
        min-width: 60%;
    }

    .mobile_menu{
        display: flex;
        overflow: hidden;
    }

   .form_section {
    padding: 0%;
   }

input {
    height: 2rem;
}

    form {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 1%;
        margin: 0;
        padding: 0;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 200%;

    }

    .left_half {
        background: white;     border-top-left-radius: 25px ;
        border-bottom-left-radius: 25px;
        height: 100%;
        color: hsl(216, 50%, 16%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%;
}


        input {
            margin-top: 1%;
            margin-bottom:1% ;
            -webkit-border-radius: 5px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            -o-border-radius: 2px;
            border-radius: 2px;

}


}